# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

################
# Automation
################
/.github/                           @showpune @qiaoleiatms

################
# Cli
################
/cli/                               @showpune @qiaoleiatms

################
# SpringBoot discovery
################
/mock/                              @qiaoleiatms
/springboot/                        @qiaoleiatms